body {
	font-family: Helvetica, Arial, "lucida grande", tahoma, verdana, arial,
		sans-serif;
	line-height: 1.5rem;
}

.fk-date {
	text-decoration: none;
	font-size: 0.7rem;
}

.fk-operation-link {
	text-decoration: none;
	font-size: 0.8rem;
	font-family: Helvetica, Arial, "lucida grande", tahoma, verdana, arial,
		sans-serif;
}

.fk-operation-link:hover {
	text-decoration: underline;
	font-weight: bold;
}

.fk-description {
	padding: 0.25rem;
}

.fk-padding {
	padding: 0.8rem
}

.fk-padding-except-right {
	padding: 0.8rem;
	padding-right: 0;
}

.fk-padding-top {
	padding-top: 0.8rem
}

.fk-padding-bottom {
	padding-bottom: 0.8rem
}

.fk-header-fill {
	background-color: #F05252;
}

.top-bar-fill {
	background-color: #702D2D;
}

.fk-logo-color {
	color: white;
}

.fk-content-display {
	padding-top: 0.8rem;
}

.fk-label {
	font-size: 0.8rem;
	padding: 0.25rem;
	border: 0.1rem;
	border-style: solid;
	border-color: #F05252;
	text-align: center;
}

.fk-label.fk-radius {
	border-radius: 0.25rem;
}

.fk-label.fk-radius-left {
	
}

.fk-label.fk-radius-right {
	
}

.fk-request-description {
	margin-top: 1rem;
}

.fk-margin-top {
	margin-top: 1rem;
}

.fk-margin-bottom {
	margin-bottom: 1rem;
}

.fk-line-height {
	line-height: 2rem;
}

.fk-color-white {
	color: white;
}

.fk-bold {
	font-weight: bold;
}

.fk-review-display {
	/* border-bottom: 0.1rem;
	border-bottom-style: dotted; */
	
}

.fk-clickable:hover {
	cursor: pointer;
}

.fk-margin {
	margin: 1rem;
}

.fk-bottom-border {
	border-bottom: 0.1rem;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}

.fk-details {
	/* border-left: 0.1rem;
	border-left-style: solid;
	border-left-color: #DDD; */
	
}

.fk-summary-border {
	border-right: 0.1rem;
	border-right-style: solid;
	border-right-color: #DDD;
}

.fk-navigation-icon-size {
	font-size: 16px;
}

.fk-selected {
	background-color: #CBCBCB;
}

.fk-background {
	background-color: #FBF7FF;
}

.fk-label-heading {
	font-size: 1rem;
	font-weight: bold;
}

.fk-no-margin {
	margin: 0 !important;
}

.fk-no-padding {
	padding: 0 !important;
}

.fk-reviewers {
	
}

.fk-error {
	font: normal;
	color: red;
}

.fk-border {
	border: 0.1rem;
	border-style: solid;
	border-color: black;
}

.fk-suggested-friend-background {
	background-color: #CBCBCB;
}

.fk-center-align {
	vertical-align: middle;
	text-align: center;
}

.fk-top-bar {
	margin: 0px;
	background-color: rgb(240, 92, 38);
	padding: 0.4rem;
	z-index: 100;
}

.fk-top-bar .fk-search-box {
	margin: 0px;
}

.fk-top-bar .fk-logo-and-name {
	padding: 0.25rem;
	font-size: 1.3rem;
	color: white;
}

.fk-full-height {
	display: table;
}

.fk-sidebar {
	display: table-cell;
	height: 100%;
}

.fk-no-left-padding {
	padding-left: 0px !important;
}

.fk-reviewer {
	background-color: somkywhite;
}

.fk-answered {
	background-color: rgba(117, 225, 141, 1);
	border-color: rgba(117, 225, 141, 1);
	color: white;
	font-weight: bold;
}

.fk-pending-answer {
	background-color: rgba(230, 116, 55, 1);
	border-color: rgba(230, 116, 55, 1);
	color: white;
	font-weight: bold;
}

.fk-forwarded {
	background-color: #A2A514;
	border-color: #A2A514;
	color: white;
	font-weight: bold;
}

.fk-header-fill-trusted {
	background-color: rgb(70, 152, 221);
	border-color: rgb(70, 152, 221);
}

.fk-label-trusted {
	font-size: 0.8rem;
	padding: 0.25rem;
	border: 0.1rem;
	border-style: solid;
	border-color: rgb(70, 152, 221);
	text-align: center;
}